<%- include('./partials/header'); -%>


    <section>
        <div class="container bg-dark">

            <div class="card text-white bg-dark mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="<%= imgUrl  %>" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= message %>
                            </h5>
                            <!-- <p class="card-text">Hallo Liebe Leute !!! Ich bin student. Ich lerne gern Deutsch Sprache. Das finde ich sehr interessant. Ich bin einundzwanzig. Sie können mir anrufen. telefonummer : 8221875710. Ich komme aus Indien.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>






    <%- include('./partials/footer'); -%>